[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
peewee-migrations = "*"
pymysql = "*"
beautifulsoup4 = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.requests]
extras = [ "security",]
