[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "==3.15.2"
peewee-migrations = "*"
pymysql = "*"
beautifulsoup4 = "*"
cryptography = "*"
loguru = "*"
colorama = "*"
tbselenium = "*"
stem = "*"
nltk = "*"
click = "*"
flask = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "*"

[packages.requests]
extras = [ "socks",]
version = "*"
